---
layout: default
---

{% include assets-origin.html %}

<!-- download, screenshot, share -->
<!-- <button class='datatab-overlay-btn' id='datatab-overlay-ctrl'> <img class='datatab-overlay-btn-img' src='{{ site.sourceurl }}/assets/img/buttons/ctrl.png' alt='^ pop up control panel'></button> -->

<!-- core -->
<div class='tabbody'>
  {{ content }}
</div>

<!-- <div id='datatab-overlay-dl-ss-sh'>
  <button class='datatab-overlay-btn' id='datatab-overlay-dl'> <img class='datatab-overlay-btn-img' src='{{ site.sourceurl }}/assets/img/buttons/dl.png' alt='download data'></button>
  <button class='datatab-overlay-btn' id='datatab-overlay-ss'> <img class='datatab-overlay-btn-img' src='{{ site.sourceurl }}/assets/img/buttons/ss.png' alt='camera icon; save img'></button>
  <button class='datatab-overlay-btn' id='datatab-overlay-sh'> <img class='datatab-overlay-btn-img' src='{{ site.sourceurl }}/assets/img/buttons/sh.png' alt='share (social media)'></button>
</div>
<script type="text/javascript" src="{{ site.sourceurl }}/assets/js/controlpanel.js"></script>
 -->


<!-- control panel -->
<!-- 
<div id='datatab-ctrlpanel'>
  controls
</div>

 -->